{% extends 'layout/base_simple.html' %}
{% load static %}

{% block content %}
    <!-- BEGIN: PAGE CONTAINER -->
    <div class="c-layout-page">
        <!-- BEGIN: PAGE CONTENT -->
        <!-- BEGIN: LAYOUT/SLIDERS/REVO-SLIDER-8 -->
        <section class="c-layout-revo-slider c-layout-revo-slider-8" dir="ltr">
            <div class="tp-banner-container tp-fullscreen tp-fullscreen-mobile">
                <div class="tp-banner rev_slider" data-version="5.0">
                    <ul>
                        <!--BEGIN: SLIDE #1 -->
                        <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-style="dark">
                            <img
                                    alt=""
                                    src="{% static 'custom-images/home/home-sl-1.webp' %}"
                                    data-bgposition="center center"
                                    data-bgfit="cover"
                                    data-bgrepeat="no-repeat"
                            >
                            <!--BEGIN: MAIN TITLE -->
                            <div class="tp-caption customin customout"
                                 data-x="center"
                                 data-y="center"
                                 data-hoffset=""
                                 data-voffset="-30"

                                 data-speed="500"
                                 data-start="1000"
                                 data-transform_in="x:0;y:0;z:0;rotationX:0.5;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:500;e:Back.easeInOut;"
                                 data-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:600;e:Back.easeInOut;"
                                 data-easing="Back.easeOut"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.1"
                                 data-endelementdelay="0.1"
                                 data-endspeed="600"

                            >
                                <h3 class="c-main-title c-font-60 c-font-bold c-font-center c-font-uppercase c-font-white c-block black-transparent-03">
                                    Welcome to the any cap pro<br>
                                    all things trucking
                                </h3>
                            </div>
                            <!--END -->

                            <!--BEGIN: ACTION BUTTON -->
                            <div class="tp-caption randomrotateou"
                                 data-x="center"
                                 data-y="center"
                                 data-hoffset=""
                                 data-voffset="200"
                                 data-speed="300"
                                 data-start="1500"
                                 data-transform_in="x:0;y:0;z:0;rotationX:0.5;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:300;e:Back.easeInOut;"
                                 data-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:400;e:Back.easeInOut;">

                            </div>
                            <!--END -->

                            <!--BEGIN: SUB TITLE -->
                            <div class="tp-caption customin customout"
                                 data-x="center"
                                 data-y="bottom"
                                 data-hoffset="0"
                                 data-voffset="0"
                                 data-width="full"
                                 data-basealign="slide"
                                 data-speed="500"
                                 data-start="1800"
                                 data-transform_in="x:0;y:0;z:0;rotationX:0.5;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:500;e:Back.easeInOut;"
                                 data-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:600;e:Back.easeInOut;"
                                 data-easing="Back.easeOut"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.1"
                                 data-endelementdelay="0.1"
                                 data-endspeed="600"
                                 style="width: 100%;"
                            >
                            </div>
                            <!--END -->
                        </li>
                        <!--END -->

                        <!--BEGIN: SLIDE #2 -->
                        <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-style="dark">
                            <img
                                    alt=""
                                    src="{% static 'custom-images/home/home-sl-3.jpeg' %}"
                                    data-bgposition="center center"
                                    data-bgfit="cover"
                                    data-bgrepeat="no-repeat"
                            >

                            <!--BEGIN: MAIN TITLE -->
                            <div class="tp-caption customin customout"
                                 data-x="center"
                                 data-y="center"
                                 data-hoffset=""
                                 data-voffset="-30"

                                 data-speed="500"
                                 data-start="1000"
                                 data-transform_in="x:0;y:0;z:0;rotationX:0.5;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:500;e:Back.easeInOut;"
                                 data-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:600;e:Back.easeInOut;"
                                 data-easing="Back.easeOut"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.1"
                                 data-endelementdelay="0.1"
                                 data-endspeed="600"

                            >
                                <h3 class="c-main-title c-font-60 c-font-bold c-font-center c-font-uppercase c-font-white black-transparent-03">
                                    IT'S FREE<br> LET'S JOIN US NOW<br>
                                </h3>
                                <div style="position: center">
                                    {% if request.user.profile == None %}
                                    <a href="{% url 'register' %}"
                                       style="margin-left: 250px; font-size: 36px !important;color: white !important; border-color: #c5c5c5"
                                       class="c-font-center btn c-btn-dark-2 c-btn-uppercase c-btn-bold c-btn-border-2x c-btn-square">
                                        Sign up</a>
                                    {% endif %}
                                </div>

                            </div>
                            <!--END -->

                            <!--BEGIN: ACTION BUTTON -->
                            <div class="tp-caption randomrotateout"
                                 data-x="center"
                                 data-y="center"
                                 data-hoffset=""
                                 data-voffset="500"
                                 data-speed="300"
                                 data-start="1800"
                                 data-transform_in="x:0;y:0;z:0;rotationX:0.5;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:300;e:Back.easeInOut;"
                                 data-transform_out="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;s:400;e:Back.easeInOut;">
                            </div>
                            <!--END -->
                        </li>
                        <!--END -->
                    </ul>
                </div>
            </div>
        </section><!-- END: LAYOUT/SLIDERS/REVO-SLIDER-8 -->
        <!-- BEGIN: FEATURES 4.7 -->

        <!-- BEGIN: CONTENT/FEATURES/FEATURES-9 -->
        <div class="c-content-box c-size-md c-bg-parallax"
             style="background-image: url({% static 'base/img/content/backgrounds/bg-87.jpg' %})">
            <div class="container">
                <div class="c-content-feature-9">
                    <!-- Begin: Title 1 component -->
                    <div class="c-content-title-1">
                        <p class="c-font-center">OUR SERVICES</p>
                        <h3 class=" c-center c-font-bold c-theme-font">How Can We Help You?</h3>
                        <div class="c-line-center c-theme-bg"></div>
                    </div>
                    <!-- End-->
                    <div class="c-card">
                        <div style="text-align: center;" class=" c-content c-content-v-center">
                            <p>
                                We specialize in ensuring easily booking and posting loads in one platform for <br>
                                Asian, European and North and South American Logistics Industry. Let's sign up today to learn how
                                <br>simple our process truly is!<br><br>
                                 {% if request.user.profile == None %}
                                <a href="{% url 'register' %}" class="btn btn-lg c-btn-green">SIGN UP</a>
                                {% endif %}
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- END: CONTENT/FEATURES/FEATURES-9 -->

        <!-- BEGIN: FEATURES 4.7 -->
        <div class="c-content-box c-size-md c-no-padding c-bg-white">
            <div class="c-content-feature-4">
                <div class="c-bg-parallax c-feature-bg c-content-right c-arrow c-border-left-white"
                     style="background-image: url({% static 'custom-images/home/home-sl-2.webp' %})"></div>
                <div class="c-content-area c-content-left"></div>
                <div class="container">
                    <div class="c-feature-content c-left">
                        <div class="c-content-v-center">
                            <div class="c-wrapper">
                                <div class="c-body">
                                    <div class="c-content-title-1 wow animate fadeInDown">
                                        <h3 class="c-font-uppercase c-font-bold c-left">Fast Posting for Freight Brokers and Shippers</h3>
                                        <div class="c-line-left"></div>
                                    </div>
                                    <div class="c-content">
                                        <p class="c-margin-b-30 c-left wow animate fadeInDown">
                                            By posting of loads from this site you can save your time and can make more
                                            profit. Our team helps Freight Shippers and Brokers move more loads every
                                            day!
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="c-content-box c-size-md c-no-padding c-bg-dark">
            <div class="c-content-feature-4">
                <div class="c-bg-parallax c-feature-bg c-content-left c-arrow c-border-right-dark"
                     style="background-image: url({% static 'custom-images/home/home-sl-2.webp' %})"></div>
                <div class="c-content-area c-content-right"></div>
                <div class="container">
                    <div class="c-feature-content c-right">

                        <div class="c-content-v-center">
                            <div class="c-wrapper">
                                <div class="c-body">
                                    <div class="c-content-title-1 wow animate fadeInDown">
                                        <h3 class="c-font-uppercase c-font-bold c-right c-font-white">Hot Loads for Owner-Operators and
                                            Carrie​rs</h3>
                                        <div class="c-line-right"></div>
                                    </div>
                                    <div class="c-content">
                                        <p class="c-margin-b-30 c-right wow animate fadeInDown">
                                            Our website helps truckers to find hot loads easily by using our load board
                                            freight platform. Our goal is that we keep Freight Shippers, Brokers, Owner-Operators and
                                            Carriers in this platform!
                                        </p>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="c-content-box c-size-md c-no-padding c-bg-white">
            <div class="c-content-feature-4">
                <div class="c-bg-parallax c-feature-bg c-content-right c-arrow c-border-left-white"
                     style="background-image: url({% static 'custom-images/home/home-sl-2.webp' %})"></div>
                <div class="c-content-area c-content-left"></div>
                <div class="container">
                    <div class="c-feature-content c-left">

                        <div class="c-content-v-center">
                            <div class="c-wrapper">
                                <div class="c-body">
                                    <div class="c-content-title-1 wow animate fadeInDown">
                                        <h3 class="c-font-uppercase c-font-bold c-left">FAST AND EASY</h3>
                                        <div class="c-line-left"></div>
                                    </div>
                                    <div class="c-content">
                                        <p class="c-margin-b-30 c-left wow animate fadeInDown">
                                            We offer to Freight Shippers, Brokers, Owner-Operators and Carriers for FREE. In order to
                                            know how you can utilize the Any Cap Pro
                                        </p>
                                        <a href="{% url 'how_it_works' %}" class="btn btn-lg c-btn-green">READ MORE</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- END: FEATURES 4.7 -->


        <!-- BEGIN: CONTENT/MISC/SERVICES-6 -->
        <div class="c-content-box c-size-md c-bg-white">
            <div class="container">
                <div class="c-content-services-6">
                    <div class="c-content-title-1 c-opt-1 wow fadeInUp">
                        <h3 class="c-center c-font-bold">Our Services</h3>
                        <div class="c-line-center c-theme-bg"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <div class="c-content-services-6-item wow fadeInUp" data-wow-delay="0s">
                                <div class="image-centered-div">
                                    <img class="image-centered" style="height: 70px;width: auto"
                                         src="{% static 'custom-icons/img.png' %}">
                                </div>
                                <h3 class="c-content-services-6-item-title">Post Loads</h3>
                                <p class="c-content-services-6-item-desc">We'll provide Freight Shippers and Brokers with
                                    comfortable and fast posting platform. They can post any kind of loads on it...</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="c-content-services-6-item wow fadeInUp" data-wow-delay="0.2s">
                                <div class="image-centered-div">
                                    <img class="image-centered" style="height: 70px;width: auto"
                                         src="{% static 'custom-icons/img_1.png' %}">
                                </div>
                                <h3 class="c-content-services-6-item-title">Book Loads</h3>
                                <p class="c-content-services-6-item-desc">Carriers and Owner-Operators can book hot loads in the
                                    market. They can easily contact and book the loads from Shippers and Brokers...</p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="c-content-services-6-item wow fadeInUp" data-wow-delay="0.4s">
                                <div class="image-centered-div">
                                    <img class="image-centered" style="height: 70px;width: auto"
                                         src="{% static 'custom-icons/img_2.png' %}">
                                </div>
                                <h3 class="c-content-services-6-item-title">Market Rates</h3>
                                <p class="c-content-services-6-item-desc">All members can review the market rates by
                                    region hourly, daily, monthly and yearly...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- END: CONTENT/MISC/SERVICES-6 -->


        <!-- BEGIN: CONTENT/ISOTOPE/GRID-2 -->
        <div class="c-content-box c-size-md c-bg-img-center"
             style="background-image: url({% static 'base/img/content/backgrounds/bg-65.jpg' %})">
            <div class="container">
                <div class="c-content-isotope-grid c-opt-2">
                    <div class="c-content-isotope-item c-item-size-double">
                        <div class="c-content-isotope-image-container">
                            <img style="height: 546px;width: auto" class="c-content-isotope-image"
                                 src="{% static 'custom-images/home/bg-31.webp' %}"/>
                            <div class="c-content-isotope-overlay hover-on-image-div">
                                <div class="c-content-isotope-overlay-content row " style="padding-left: 83px;">
                                    <p style="text-align: left;" class="c-content-isotope-overlay-desc c-font-white">
                                        ABOUT US</p>
                                    <h1 style="font-size: 42px;text-align: left;"
                                        class="c-content-isotope-overlay-title c-font-white c-font-uppercase">Any Cap
                                        Pro</h1>
                                    <a style="text-align: left; margin-left: -281px" href="{% url 'about_us' %}"
                                       class="c-content-isotope-overlay-btn btn c-btn-white c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Read
                                        More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="c-content-isotope-item">
                        <div class="c-content-isotope-image-container">
                            <img style="height: 256px;width: auto" class="c-content-isotope-image"
                                 src="{% static 'custom-images/home/bg-32.jpeg' %}"/>

                        </div>
                    </div>
                    <div class="c-content-isotope-item">
                        <div class="c-content-isotope-image-container">
                            <img style="height: 256px;width: auto" class="c-content-isotope-image"
                                 src="{% static 'custom-images/home/bg-33.png' %}"/>

                        </div>
                    </div>
                    <div class="c-content-isotope-item">
                        <div class="c-content-isotope-image-container">
                            <img style="height: 256px;width: auto; text-align: center" class="c-content-isotope-image"
                                 src="{% static 'custom-images/home/bg-35.png' %}"/>

                        </div>
                    </div>
                    <div class="c-content-isotope-item">
                        <div class="c-content-isotope-image-container">
                            <img style="height: 256px;width: auto; text-align: center" class="c-content-isotope-image"
                                 src="{% static 'custom-images/home/bg-37.png' %}"/>

                        </div>
                    </div>
                </div>
            </div>
        </div><!-- END: CONTENT/ISOTOPE/GRID-2 -->



    </div>
    <!-- END: PAGE CONTAINER -->
{% endblock %}