{% extends 'layout/base_simple.html' %}
{% load static %}

{% block content %}

    <!-- BEGIN: CONTENT/FEATURES/FEATURES-12 -->
    <div class="c-content-box c-size-md c-bg-parallax"
         style="background-image: url({% static 'custom-images/home/img_2.png' %});background-repeat: no-repeat;
                 background-size: 100% auto;
                 padding-bottom: 30px">
        <div class="container">
            <div class="c-content-feature-8 c-opt-4">
                <div class="c-grid c-card c-font-right c-bg-opacity-2" style="text-align: center">
                    <h3 class="c-font-40 c-font-bold c-font-uppercase" style="padding-top: 16px">
                        <video width="900" controls>
                            <source src="{% static 'video/anycapprovideo3.mp4' %}" type="video/mp4">
                            <source src="{% static 'video/anycapprovideo3.ogg' %}" type="video/ogg">
                            Your browser does not support HTML video.
                        </video>
                    </h3>
                    <div class="c-font-18"
                         style="margin-top: 25px;background-color: rgba(0,0,0,0.6); margin-left: 250px; margin-right: 250px; padding: 5px;">
                        <h4 style=" color: white;font-size: 42px;font-weight: 600;">FAST AND EASY</h4>
                        <h5 style="color: white; font-size: 25px">FIND LOADS AND TRUCKS</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: CONTENT/FEATURES/FEATURES-12 -->

    <!-- BEGIN: CONTENT/ISOTOPE/GRID-1 -->
    <div class="c-content-box c-size-md c-bg-img-center"
         style="background-image: url({% static 'base/img/content/backgrounds/bg-82.jpg' %})">
        <div class="container">
            <div class="c-content-isotope-grid c-opt-1 row">
                <div class="col-md-6 col-lg-6 col-sm-12 ">
                    <div class="c-content-isotope-image-container">
                        <div class="c-content-isotope-overlay">
                            <div class="c-content-isotope-overlay-content" style="text-align: right;">
                                <p class=" c-content-isotope-overlay-desc c-font-white" style="padding: 90px 0px;font-size: 20px;">
                                    Most important objects in
                                    Logistics Sphere are Freight Shippers, Brokers, Owner-Operators and Carriers. The purpose of our
                                    platform is
                                    to create a basis for these objects to find each other correctly, appropriately and
                                    quickly
                                    in this system.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12 ">
                    <div class="c-content-isotope-image-container" style="margin-top: 15px;">
                        <video width="100%" controls>
                            <source src="{% static 'video/anycapprovideo3.mp4' %}" type="video/mp4">
                            <source src="{% static 'video/anycapprovideo3.ogg' %}" type="video/ogg">
                            Your browser does not support HTML video.
                        </video>
                    </div>
                </div>
            </div>
            <div class="c-content-isotope-grid c-opt-1 row">
                <div class="col-md-6 col-lg-6 col-sm-12 ">
                    <div class="c-content-isotope-image-container" style="margin-top: 60px;">
                        <video width="100%" controls>
                            <source src="{% static 'video/anycapprovideo3.mp4' %}" type="video/mp4">
                            <source src="{% static 'video/anycapprovideo3.ogg' %}" type="video/ogg">
                            Your browser does not support HTML video.
                        </video>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12 ">
                    <div class="c-content-isotope-image-container">
                        <div class="c-content-isotope-overlay">
                            <div class="c-content-isotope-overlay-content" style="text-align: left;">
                                <p class=" c-content-isotope-overlay-desc c-font-white">
                                <p style="color: aqua;font-size: 28px;font-weight: 600; margin-top:30px"><br>The advantages of our platform are:</p>
                                <p style="color: aqua;font-size: 20px">- Quick<br>
                                    - Easy<br>
                                    - Secure<br>
                                    - Comfortable<br>
                                    - Understandable</p>

                                <p style="color: white;font-size: 20px;">By using our platform you will save your time. You will find
                                    your load quickly and
                                    easily when you need it. If you have a ready truck, you could get hot load for it
                                    immediately.</p>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: CONTENT/ISOTOPE/GRID-1 -->


{% endblock %}