<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirm Password</title>
    {% include 'layout/head.html' %}
</head>
<body>
<div class="c-content-box c-size-md c-bg-white">
    <div class="container ">
        <div class="row" style="text-align: -webkit-center;">
            <div class="col-md-12">
                <div class="c-content-panel"
                     style=" border-radius: 10px;width: 50%;box-shadow: 1px 0px 34px -9px; margin-top: 30px">
                    <div>
                        <div class="modal-header c-no-border">

                        </div>
                        <div class="modal-body">
                            <div class="center-block" style="text-align: center">
                                <span aria-hidden="true" class="icon-key" style="font-size: 80px"></span>
                            <h3 style="font-size: 40px;color: #5c6873;" class="c-font-24 c-font-sbold profile-title">Reset Password</h3>
                            </div>
                            <br>
                            <form method="post"
                                  enctype="application/x-www-form-urlencoded" class="center-block">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="forget-confirmation" class="hide">Confirmation Code</label>
                                    <input type="text" name="confirmation" class="form-control input-lg c-square"
                                           id="forget-confirmation"
                                           placeholder="Confirmation Code" required>
                                </div>
                                <div class="form-group">
                                    <label for="forget-email" class="hide">New Password</label>
                                    <div class="input-group c-square">
                                        <input type="password" name="new-password"
                                               class="c-theme form-control input-lg c-square"
                                               id="login-password"
                                               placeholder=" New Password" required>
                                        <span class="input-group-btn">
								        <button class="btn btn-default aye-button" type="button"
                                                style="
                                            background-color: white;
                                            border-left: none;
                                            height: 46px;
                                            width: 50px;
                                        ">
                                            <span style="font-size: 13px;color: #5c6873;margin-right: 6px; margin-top: 1px;"
                                                  class="aye-icon glyphicon form-control-feedback glyphicon-eye-close"></span>
                                            </button>
								      </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="forget-email" class="hide">Confirm Password</label>
                                    <div class="input-group c-square">
                                        <input type="password" name="confirm-password"
                                               class="c-theme form-control input-lg c-square"
                                               placeholder="Confirm Password" required>
                                        <span class="input-group-btn">
								        <button class="btn btn-default aye-button1" type="button"
                                                style="
                                            background-color: white;
                                            border-left: none;
                                            height: 46px;
                                            width: 50px;
                                        ">
                                            <span style="font-size: 13px;color: #5c6873;margin-right: 6px; margin-top: 1px;"
                                                  class="aye-icon1 glyphicon form-control-feedback glyphicon-eye-close"></span>
                                            </button>
								      </span>
                                    </div>
                                     <span style="color: red;">{{ error }}</span>
                                </div>
                                <div class="form-group">
                                    <br>
                                    <button type="submit"
                                            class="btn c-theme-btn btn-md c-btn-bold c-btn-square c-btn-login">
                                        SUBMIT
                                    </button>
                                    <br>
                                    <br>
                                    <a href="{% url 'login' %}" class="c-btn-forgot"
                                       style="font-weight: bold;color: #5c6873">BACK TO LOGIN</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="{% static 'custom-js/auth-actions.js' %}" type="text/javascript"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</script>
</html>