<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign in</title>
    {% include 'layout/head.html' %}
</head>
<body>
<div class="c-content-box c-size-md c-bg-white">
    <div class="container ">
        <div class="row" style="text-align: -webkit-center;">
            <div class="col-md-12">
                <div class="c-content-panel" style=" border-radius: 10px;width: 50%;box-shadow: 1px 0px 34px -9px; margin-top: 30px">
                    <div>
                        <div class="modal-header c-no-border">

                        </div>
                        <div class="modal-body">
                             <div class="center-block" style="text-align: center">
                                <span aria-hidden="true" class="icon-lock" style="font-size: 80px"></span>
                                <h3 class="c-font-24 c-font-sbold center-block" style="font-size: 40px;color: #5c6873;">
                                    Enter Your Email</h3>
                            </div>
                            <form method="post" enctype="application/x-www-form-urlencoded">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="forget-email" class="hide">Email</label>
                                    <input type="email" name="email" class="form-control input-lg c-square" id="forget-email"
                                           placeholder="Email" required>
                                </div>
                               <div class="form-group">
                                   <br>
                                    <button type="submit"
                                            class="btn c-theme-btn btn-md c-btn-bold c-btn-square c-btn-login">
                                        SUBMIT
                                    </button>
                                    <br>
                                    <br>
                                    <a href="{% url 'login' %}" class="c-btn-forgot" style="font-weight: bold;color: #5c6873" >BACK TO LOGIN</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>