<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
    {% include 'layout/head.html' %}
</head>
<body>
<div class="c-content-box c-size-md c-bg-white">
    <div class="container ">
        <div class="row" style="text-align: -webkit-center;">
            <div class="col-md-12">
                <div class="c-content-panel"
                     style=" border-radius: 10px;width: 50%;box-shadow: 1px 0px 34px -9px; margin-top: 40px">
                    <div>
                        <div class="modal-header c-no-border">

                        </div>
                        <div class="modal-body">
                            <div class="center-block" style="text-align: center">
                                <span aria-hidden="true" class="icon-user" style="font-size: 80px"></span>
                                <h3 class="c-font-24 c-font-sbold center-block" style="font-size: 40px;color: #5c6873;">
                                    Sign In</h3>
                            </div>

                            <form enctype="application/x-www-form-urlencoded" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="login-email" class="hide">Email</label>
                                    <input type="email" name="email" class="form-control input-lg c-square"
                                           id="login-email"
                                           placeholder="Email" required>
                                </div>
                                <div class="form-group">
                                    <label for="login-password" class="hide">Password</label>
                                    <div class="input-group c-square">
                                        <input type="password" name="password"
                                               class="c-theme form-control input-lg c-square"
                                               id="login-password"
                                               placeholder="Password" required>
                                        <span class="input-group-btn">
								        <button class="btn btn-default aye-button" type="button"
                                                style="
                                            background-color: white;
                                            border-left: none;
                                            height: 46px;
                                            width: 50px;
                                        ">
                                            <span style="font-size: 13px;color: #5c6873;margin-right: 6px; margin-top: 1px;"
                                                  class="aye-icon glyphicon form-control-feedback glyphicon-eye-close"></span>
                                            </button>
								      </span>
                                    </div>
                                    {#                                    <div class="col-md-12"#}
                                    {#                                         style="padding-left: 0px; padding-right: 0px; padding-bottom: 15px;">#}
                                    {#                                        <input type="password" name="password"#}
                                    {#                                               class="c-theme form-control input-lg c-square"#}
                                    {#                                               id="login-password"#}
                                    {#                                               placeholder="Password" required>#}
{#                                    <span id="aye-id" style="font-size: 13px;color: #5c6873;"#}
{#                                          class="glyphicon glyphicon-eye-close form-control-feedback"></span>#}
                                    {#                                    </div>#}
                                    <span style="color: red">{{ error }}</span>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="c-checkbox col-md-6" style="text-align: left">
                                            <input type="checkbox" id="login-rememberme" value="lsRememberMe"
                                                   id="rememberMe" class="c-check">
                                            <label for="login-rememberme" class="c-font-thin c-font-17">
                                                <span></span>
                                                <span style="margin-left: 15px" class="check"></span>
                                                <span style="margin-left: 15px" class="box"></span>
                                                Remember Me
                                            </label>
                                        </div>
                                        <div class="col-md-6" style="text-align: right">
                                            <a href="{% url 'forgot-password' %}"
                                               class="c-btn-forgot">Forgot Your Password ?</a>
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <button type="submit"
                                            class="open-choise-modal btn c-theme-btn btn-md c-btn-bold c-btn-square c-btn-login">
                                        LOGIN
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="row" style="padding: 15px">
                            <div class="modal-footer c-no-border col-md-3" style="text-align: left">
                                <a href="{% url 'home' %}" style="width: 143px;"
                                   class="btn c-btn-dark-1 btn c-btn-bold c-btn-slim c-btn-border-2x c-btn-square c-btn-signup">BACK
                                    HOME</a>
                            </div>
                            <div class="modal-footer c-no-border col-md-9">
                                <span class="c-text-account">Don't Have An Account Yet ?</span>&ensp;
                                <a href="{% url 'register' %}" style="width: 143px;"
                                   class="btn c-btn-dark-1 btn c-btn-bold c-btn-slim c-btn-border-2x c-btn-square c-btn-signup">SIGN
                                    UP</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-choiser fade c-content-login-form in" id="forget-password-form" role="dialog"
     style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content c-square">
            <div class="modal-header c-no-border">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <h3 class="c-font-24 c-font-sbold">Password Recovery</h3>
                <p>To recover your password please fill in your email address</p>

                <div class="form-group">
                    <label for="forget-email" class="hide">Email</label>
                    <input type="email" class="form-control input-lg c-square"
                           id="forget-email" placeholder="Email">
                </div>
                <div class="form-group">
                    <button type="submit"
                            class="btn c-theme-btn btn-md c-btn-uppercase c-btn-bold c-btn-square c-btn-login">
                        Submit
                    </button>
                    <a class="c-btn-forgot" data-dismiss="modal">Back To
                        Login</a>
                </div>
            </div>
            <div class="modal-footer c-no-border">
                <span class="c-text-account">Don't Have An Account Yet ?</span>
                <a href="javascript:;" data-toggle="modal" data-target="#signup-form"
                   data-dismiss="modal"
                   class="btn c-btn-dark-1 btn c-btn-uppercase c-btn-bold c-btn-slim c-btn-border-2x c-btn-square c-btn-signup">Signup!</a>
            </div>
        </div>
    </div>
</div>
</body>
<script src="{% static 'custom-js/auth-actions.js' %}" type="text/javascript"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    {% if congrast %}
        Swal.fire(
            'Congratulation!',
            '',
            'success'
        )
    {% endif %}
    {% if changed %}
        Swal.fire(
            'Password has been changed',
            '',
            'success'
        )
    {% endif %}
</script>
</html>