<!DOCTYPE html>
<html lang="en">
{% include 'layout/head.html' %}
<body>
<div class="container">
    <br>
    <br>
    <br>
    <h3>1.Governing Terms</h3>
    <p>
        This Platform Access Agreement (“PAA”) governs your use of ANY CAP PRO (“ACP”) Smart Load Board, including
        official website. By accessing, viewing, or using any content or materials, you agree that you (“You”, “Freight
        Partner”, or “Your”) have read and understand the terms of this PAA and as they may change from time to time,
        and that you agree to the terms and intend to be legally bound by them. If you do not agree to the terms of this
        PAA, you are not permitted to use the ACP. The ACP shall be considered Services under the Terms of Service. You
        confirm that you have read, understand and accept the provisions of this Agreement and intend to be bound by
        this Agreement. Platform is not a freight broker, is not providing the services of a freight broker, and does
        not hold itself out as selling, providing, or arranging for, transportation by motor carrier for compensation.
    </p>
    <br>
    <br>
    <h3>2. Term</h3>
    <p>
        This Agreement is effective as of the Effective date and shall continue for a period of one (1) month from the
        date thereof (“Initial Term”). Thereafter, this Agreement shall automatically renew for successive full month
        periods, unless either party requests termination at least five (5) days prior to the end of the then-current
        term. In addition to any other rights set forth in its Terms of Service, Platform may immediately: (i) revoke or
        suspend Freight Partner’s access to the ACP at any time and for any reason or no reason, or (ii) terminate this
        Agreement, if Freight Partner breaches the terms of the Agreement. All sections of this Agreement which by their
        nature should survive termination will survive termination, including, without limitation, accrued rights to
        payment, confidentiality obligations, warranty disclaimers, and limitations of liability. The ACP platform,
        including access to website and other associated services are intended to provide, among other things, Freight
        Partner the ability to (i) receive contacts from available motor carriers (“Carrier(s)”) to perform motor
        carriage services for Freight Partner or its shipper customers and (ii) post loads, including relevant details
        regarding such loads, which Carriers may access and book through the ACP.
    </p>
    <br>
    <br>
    <h3>3. Relationship of the Parties</h3>
    <p>
        The relationship between the parties is solely as independent business enterprises. Nothing in this Agreement
        creates, will create, or is intended to create, any employment partnership, joint venture, agency or sales
        representative relationship between Platform and Freight Partner. The ACP provides a means by which Freight
        Partners can make Carriers aware of available loads, and Carriers can make Freight Partners aware of their
        capacity, however, any arrangement of transportation is between the Freight Partner and the Carrier(s).
    </p>
    <br>
    <br>
    <h3>4. Use of the Platform</h3>
    <p>
        The ACP is a neutral venue where you may connect with Freight Brokers and Carriers; as such Platform has no
        control over the quality, safety or legal aspects of the transactions that may take place with you and any
        Carrier;
        Platform makes no representations or warranties with respect to the Carriers, and you assume all risk in
        tendering loads, establishing new business relationships, verifying safety, licensing, authority, insurance,
        credit, cargo liability and invoicing terms of the Carriers that you may select or otherwise be matched with on
        the ACP;
        Platform does not endorse or make any claims as to the accuracy of any information that may be provided by a
        Carrier via the ACP;
        Platform does not guarantee any minimum capacity or coverage for loads posted or made available by you on the
        ACP.
        Platform may accept or reject the posting of any loads on the ACP, with or without cause.
        Platform is not a party to any transaction between Freight Partner and the Carrier, provided, however, that
        Platform may charge fees related to the provision of the ACP.

    </p>
    <br>
    <br>
    <h3>5. Payment</h3>
    <p>
        The ACP is not responsible for the payment and other payment terms between Freight Brokers and Carriers. Any
        payment terms shall be set forth in a separate agreement in writing between you and Platform. Notwithstanding
        the foregoing, Platform may, at any time thereafter, propose a payment structure (subscription, transactional or
        other) to Freight Partner. It is the intent of the parties that they will use commercially reasonable efforts to
        reach agreement on mutually acceptable payment terms. In the event that such an agreement cannot be reached,
        then Platform may terminate this Agreement.
    </p>
    <br>
    <br>
    <h3>6. Entire Agreement</h3>
    <p>
        This Agreement represents the entire agreement and understanding of the parties with regard to its subject
        matter. No prior understandings or agreements of the parties, whether written or oral, nor any documents not
        specifically incorporated into this Agreement, nor any course of conduct of the parties before or after the
        Effective Date of this Agreement, shall have the effect of modifying the parties’ rights and obligations under
        this Agreement in any way.
    </p>
    <br>
</div>
</body>
</html>