<!-- BEGIN HEAD -->
{% load static %}
<head>
    <meta charset="utf-8"/>
    <title>{{ page_title }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,400italic,700italic,400,300,700&amp;subset=all'
          rel='stylesheet' type='text/css'>
    <link href="{% static 'plugins/socicon/socicon.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'plugins/bootstrap-social/bootstrap-social.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'plugins/simple-line-icons/simple-line-icons.min.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'plugins/animate/animate.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"
          type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->

    <!-- BEGIN: BASE PLUGINS  -->
    <link href="{% static 'plugins/revo-slider/css/settings.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'plugins/revo-slider/css/layers.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'plugins/revo-slider/css/navigation.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'plugins/cubeportfolio/css/cubeportfolio.min.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'plugins/owl-carousel/assets/owl.carousel.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'plugins/fancybox/jquery.fancybox.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'plugins/slider-for-bootstrap/css/slider.css' %}" rel="stylesheet"
          type="text/css"/>
    <!-- END: BASE PLUGINS -->


    <!-- BEGIN THEME STYLES -->
    <link href="{% static 'demos/default/css/plugins.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'demos/default/css/components.css' %}" id="style_components" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'demos/default/css/themes/default.css' %}" rel="stylesheet" id="style_theme"
          type="text/css"/>
    <link href="{% static 'demos/default/css/custom.css' %}" rel="stylesheet" type="text/css"/>
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyD7Sbuc2E76Ht-VIQefQFUgtD253lVRkXk&language=en"></script>
{#    <link rel="stylesheet" href="sweetalert2.min.css">#}
    <!-- CSS only -->

    <link href="{% static 'styles.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'table.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'w3.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'loader.css' %}" rel="stylesheet" type="text/css"/>
    <!-- END THEME STYLES -->
    <!-- JavaScript Bundle with Popper -->
    <link rel="shortcut icon" type="image/png" href="{% static 'custom-icons/favicon2.PNG' %}"/>
    <script src="https://code.jquery.com/jquery-3.6.1.js"
            integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <script>
        var csrftoken = '{{ csrf_token }}'
    </script>
</head>